/* css styles */
/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Muli&family=Fira+Code&family=JetBrains+Mono&family=Sometype+Mono:ital,wght@0,400;0,500;1,400&display=swap'); */

/* body { */
  /* font-family: 'Muli', sans-serif; */
  /* color: rgba(0, 0, 0, 0.348); */
  /* font-weight: 400; */
  /* line-height: 1.8; */
  /* letter-spacing: -.003em; */
  /* font-size: 15px; */
  /* padding: 10px; */
/* } */

/* https://www.w3docs.com/snippets/css/how-to-import-google-fonts-in-css-file.html */

/* wow */